/* duplicate part */
.primary-btn{
    border-radius: 5px;
    background: rgb(241, 91, 34);
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
/* header styles */
.header-part{
    background-image: url(images/banner/banner1.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-part-text{
    padding-left: 1000px;
    padding-right: 420px;
    text-align: right;
}
.header-part-text h1{

    padding-top: 216px;
    margin-bottom: 0px;
    color: rgb(21, 20, 20);
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
}
.header-part-text p{

    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
}
.header-part-text button{
    margin-bottom: 170px;
    margin-top: 30px;
}

/* main part */
/* failures part */
.failures-part{
    display: flex;
    margin-top: 140px;
}
.person-image{
    margin-left: 300px;
}
.failures-text{
    margin-left: 85px;
    margin-right: 300px;
    margin-top: 150px;
}
.failures-text h3{
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
.failures-text p{
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Plan Part */
.full-plan-part{
    margin-left: 410px;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 140px;
}
.full-plan-part h3{
    margin-left: 500px;
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
}
.plan-part{
    display: flex;
    gap: 140px;
    text-align: center;
}
.plan-details h4{
    color: rgb(21, 20, 20);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 15px;
}
.plan-details p{
    color: rgb(115, 114, 114);
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: center;
}
.mindset-part{
    background-image: url(images/gradient3.png), url(images/watch.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;
    padding-bottom: 80px;
    margin-right: 300px;
    margin-top: 130px;
}
.mindset-part h2{
    color: rgb(255, 255, 255);
font-size: 40px;
font-weight: 700;
padding-right: 700px;
padding-left: 60px;
padding-top: 60px;
}
.secondary-button{
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(241, 91, 34);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
    margin-left: 60px;
}

/* footer-part */
.footer-section{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-details{
    display: flex;
    
}
.footer-text{
    margin-left: 410px;
}
.footer-text h1{
    color: rgb(248, 248, 248);
    font-size: 45px;
    font-weight: 700;
}
.footer-text p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding-right: 140px;
    line-height: 26px;
}

.subscribe-part{
    margin-right: 300px;
}
.subscribe-part h3{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.enter{
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: black;
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 400;
}
.secondary-button-y{
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(241, 91, 34);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
}

.social{
    display: flex;
    gap: 20px;

}
