/* duplicate part */
.primary-btn{
    border-radius: 5px;
    background: rgb(241, 91, 34);
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
/* header styles */
.header-part{
    background-image: url(images/banner/banner1.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-part-text{
    padding-left: 1245px;
    padding-right: 230px;
    text-align: right;
}
.header-part-text h1{

    padding-top: 216px;
    margin-bottom: 0px;
    color: rgb(21, 20, 20);
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
}
.header-part-text p{

    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
}
.header-part-text button{
    margin-bottom: 170px;
    margin-top: 30px;
}
